.l-site-header {
  @mixin px 30px;
  padding-top: 30px;
  padding-bottom: 100px;

  &--inner {
    display: flex;
  }

  &--navigation {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  body.menu-open & {
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  @media (min-width: map(breakpoints, md)) {
    & {
      padding-top: 150px;
      @mixin px 100px;
    }
  }
}
