<header class="l-site-header">
  <div class="l-site-header--inner container">
    <div class="l-brand">
      <a href="/" class="l-brand--link">
        <span class="sr-only">
          Home
        </span>
        <img
          aria-hidden="true"
          class="l-brand--img"
          src="/img/logo.svg"
          alt=""
        />
      </a>
    </div>
    <div class="l-site-header--navigation">
      <button class="l-nav-toggle" type="button">
        <span class="l-nav-toggle--inner">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <nav class="l-primary-navigation">
        <a class="l-primary-navigation--nav-item" href="#">
          Brands
        </a>
        <a class="l-primary-navigation--nav-item" href="#">
          Websites
        </a>
        <a class="l-primary-navigation--nav-item" href="#">
          Apps
        </a>
      </nav>
    </div>
  </div>
  <div class="l-overlay-menu">
    <div class="l-overlay-menu--inner container">
      <nav class="l-overlay-navigation">
        <a class="l-overlay-navigation--nav-item" href="#">
          Brands
        </a>
        <a class="l-overlay-navigation--nav-item" href="#">
          Websites
        </a>
        <a class="l-overlay-navigation--nav-item" href="#">
          Apps
        </a>
        <a class="l-overlay-navigation--nav-item" href="#">
          Wagtail Development
        </a>
        <a class="l-overlay-navigation--nav-item" href="#">
          Careers
        </a>
      </nav>
      <div class="l-overlay-menu--cta">
        <span class="l-overlay-menu--cta-title title-3 text-white">
          Let's chat about working together
        </span>
      </div>
      <div class="l-overlay-menu--social"></div>
    </div>
  </div>
</header>